@import 'style';

// #Documentation Styles
// ==================================================
nav {
    position: fixed;
    .width(160px);
    .margin-top(44px);
    .margin-left(16px);
    ul {
        float: left;
        li {
            display: block;
            margin-bottom: 0;
            a,
            a:visited,
            a:active  {
                .font-size(14px);
                color: #555;
                text-decoration: none;
                font-weight: bold;
            }
            a:hover,
            a:focus {
                color: #222;
            }
        }
    }
}

header {
    h1 {
        .margin-top(32px);
    }
}

#logo {
    .font-size(20px);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
}

.doc-section {
    .margin(30px, 0);
}

#whatAndWhy .row {
    .padding-top(30px);
}

#typography blockquote {
    .margin-top(20px);
}

.hidden-code {
    a {
        .font-size(12px);
        color: #999;
    }
    >div {
        display: none;
    }
}

// Grid
#grid {
    .column,
    .columns {
        background: #ddd;
        .height(25px);
        .line-height(25px);
        .margin-bottom(10px);
        text-align: center;
        text-transform: uppercase;
        color: #555;
        .font-size(12px);
        font-weight: bold;
        .rounded(2px);
        &:hover {
            background: #bbb;
            color: #333;
        }
    }
    .example-grid {
        overflow: hidden;
    }
}


.post-button-note,
.post-button-note a {
    .font-size(11px);
    color: #999;
}

#examples {
    .four.columns a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.resize {
    position: fixed;
    bottom: 0;
    right: 0;
    .height(80px);
    .width(80px);
    background: url('../img/resize.png');
}

ul {
    ul {
        ul {
            li {
                margin-bottom: 3px;
            }
        }
    }
}


// #Debug
// ==================================================
#mediaQueryDebug {
    z-index: 1003;
    position: absolute;
    top: 0;
    right: 4px;
    padding: 5px 9px 6px;
    text-decoration: none;
    a {
        .no-flick();
        text-decoration: none;
        position: fixed;
        top: 4px;
        right: 10px;
        z-index: 1002;
    }
    i {
        .padding(2px);
        .font-size(20px);
        .hide();
    }
    span {
        .show();
    }
}

#viewportInfo {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 4px 1em;
    background-color: #f69679;
    z-index: 1002;
}

@media only screen
       and (max-width: 75em) {
    nav {
        .hide();
    }
}


// Anything smaller than standard 960 on a device
@media only screen
       and (max-width: 59.938em)
       and (max-device-width: 62.5em) {
    .resize {
        .hide();
    }
}

// Non 960
@media only screen and (max-width: 59.938em) {
    #logo {
        .font-size(21px);
        margin-bottom: 15px; }
    nav {
        .button {
            padding: 9px 20px 11px;
        }
    }
}

// iPad Portrait/Browser
@media only screen and (min-width: 48em) and (max-width: 59.938em) {
    nav {
        .width(124px);
    }
}

// Mobile
@media only screen and (max-width: 47.938em) {
    nav {
        position: relative;
        ul {
            .hide();
        }
    }

    #logo {
        text-align: left;
    }

    #examples {
        .four.columns {
            .padding-top(30px);
        }
    }

    #grid {
        .column,
        .columns {
            margin-bottom: 2px!important;
        }
    }

    #mediaQueryDebug {
        span {
            .hide();
        }
        i {
            .show();
        }
    }
}

// Mobile Landscape
@media only screen and (min-width: 30em) and (max-width: 47.938em) {
    nav {
       .hide();
    }
}

@media only screen and (max-width: 30em) {
    #mediaQueryDebug {
        span {
            .hide();
        }
        i {
            .show();
        }
    }
    .hidden-code, a.code-example {
        .hide();
    }
}