// #Media Queries
// ==================================================
// Large monitors
@media only screen and (min-width: 75rem) {
    @h1FontSize : (@h1BaseFontSize + 8); // px
    @h2FontSize : (@h2BaseFontSize + 8); // px
    @h3FontSize : (@h3BaseFontSize + 6); // px
    @h4FontSize : (@h4BaseFontSize + 4); // px
    @h5FontSize : (@h5BaseFontSize + 4); // px
    @h6FontSize : (@h6BaseFontSize + 2); // px

    body {
        .font-size(17); }

    h1 {
        .font-size(@h1FontSize);  }

    h2 {
        .font-size(@h2FontSize);  }

    h3 {
        .font-size(@h3FontSize);  }

    h4 {
        .font-size(@h4FontSize);  }

    h5 {
        .font-size(@h5FontSize); }

    h6 {
        .font-size(@h6FontSize); }
}

// Smaller than standard 960 (devices and browsers)
@media only screen and (max-width: 59.94rem) {

}

// Tablet Portrait size to standard 960 (devices and browsers)
@media only screen and (min-width: 48rem) and (max-width: 59.94rem) {
    // Hide everything else
    .hidden-desktop    { display: inherit !important; }
    .visible-desktop   { display: none !important ; }
    // Show
    .visible-tablet    { display: inherit !important; }
    // Hide
    .hidden-tablet     { display: none !important; }

}

// All Mobile Sizes (devices and browser)
@media only screen and (max-width: 47.94rem) {
    @h1FontSize : (@h1BaseFontSize - 6); // px
    @h2FontSize : (@h2BaseFontSize - 6); // px
    @h3FontSize : (@h3BaseFontSize - 6); // px
    @h4FontSize : (@h4BaseFontSize - 4); // px
    @h5FontSize : (@h5BaseFontSize - 2); // px
    @h6FontSize : (@h6BaseFontSize - 1); // px

    body {
        .font-size(15); }

    h1 {
        .font-size(@h1FontSize);  }

    h2 {
        .font-size(@h2FontSize);  }

    h3 {
        .font-size(@h3FontSize);  }

    h4 {
        .font-size(@h4FontSize);  }

    h5 {
        .font-size(@h5FontSize); }

    h6 {
        .font-size(@h6FontSize); }
}

// Mobile Landscape Size to Tablet Portrait (devices and browsers)
@media only screen and (min-width: 30rem) and (max-width: 47.94rem) {
    // Hide everything else
    .hidden-desktop    { display: inherit !important; }
    .visible-desktop   { display: none !important; }
    // Show
    .visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
    // Hide
    .hidden-phone      { display: none !important; }

}

// Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
@media only screen and (max-width: 29.94rem) {
    @h1FontSize : (@h1BaseFontSize - 8); // px
    @h2FontSize : (@h2BaseFontSize - 8); // px
    @h3FontSize : (@h3BaseFontSize - 8); // px
    @h4FontSize : (@h4BaseFontSize - 6); // px
    @h5FontSize : (@h5BaseFontSize - 4); // px
    @h6FontSize : (@h6BaseFontSize - 2); // px

    body {
        .font-size(14); }

    h1 {
        .font-size(@h1FontSize);  }

    h2 {
        .font-size(@h2FontSize);  }

    h3 {
        .font-size(@h3FontSize);  }

    h4 {
        .font-size(@h4FontSize);  }

    h5 {
        .font-size(@h5FontSize); }

    h6 {
        .font-size(@h6FontSize); }
}