// #rem values / 16px default | Values derived from http://offroadcode.com/prototypes/rem-calculator/

// // #Body Variables
// ==================================================
@bodyFontFamily : "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
@bodyFontSize   : 16px;

@bodyBackground : #FFF;
@bodyColor      : #444;

@baseLineHeight : 1.625;

// #Link Variables
// ==================================================
@linkColor      : #333;
@linkHoverColor : #000;

// #Headings Variables
// ==================================================
// @headingsFontFamily : "Georgia", "Times New Roman", serif;
@headingsFontFamily : @bodyFontFamily;
@headingsColor      : #181818;

@subHeadingsFontFamily : @bodyFontFamily;